@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .custom-scrollbar::-webkit-scrollbar {
    height: 1.5rem; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, yellow, #2575fc); 
    border-radius: 10px; 
    border: 3px solid #f1f1f1; 
    transition: hover 1.5s ease; /* Transition effect for background color */

  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #8a33fb, #4892f6); 
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
    margin: 0 2rem; 
  }
  